.Layout {
  display: flex;
  max-width: 1366px;
  max-width: 1200px;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .Layout {
    display: block;
    padding-left: 0;
    padding-right: 0;
  }
}

.Layout>.Content {
  display: block;
  flex: 1;
  padding: 2rem 0 2rem 0;
}

@media (max-width: 1050px) {
  .Layout>.Content {
    max-width: calc(100% - var(--side-nav-width));
    padding-right: 3rem;
  }
}

@media (max-width: 1024px) {
  .Layout>.Content {
    padding: 1rem;
    max-width: 100%;
  }
}


.Clearfix {
  zoom: 1;
}

.Member {
  display: flex;
  width: 100%;
  min-height: 100%;
}

@media (max-width: 768px) {
  .Member {
    display: block;
  }
}

.MemberSide {
  flex: 0 0 auto;
  width: 14rem;
}

@media (max-width: 768px) {
  .MemberSide {
    width: 100%;
  }
}

.MemberCard {
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.05) 0 2px 12px, rgba(0, 0, 0, 0.03) 0 4px 32px;
}

.MemberCard .MemberCardHeader {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #e9ecef;
}

.MemberCard .MemberCardHeader h1 {
  margin-bottom: 0;
  margin-right: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
}

.MemberCard .MemberCardHeaderSpan {
  color: #9a62e6;
  font-size: 1rem;
}

.MemberCard .MemberCardBody {
  padding: 1rem;
}

.ThemeDark .MemberCard {
  box-shadow: rgba(0, 0, 0, 0.15) 0 4px 12px;
}

@media (max-width: 768px) {
  .MemberMenu>ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
  }
}

@media (max-width: 768px) {
  .MemberMenu>ul>li {
    margin: 0.25rem;
  }
}

.MemberMenu>ul>li a {
  display: block;
  padding: 0.75rem 1rem;
  color: #868e96;
  font-size: 0.875rem;
}

.MemberMenu>ul>li a:hover {
  color: black;
  text-decoration: none !important;
  background-color: #e9ecef;
}

@media (max-width: 768px) {
  .MemberMenu>ul>li a {
    padding: 0.5rem 1rem;
    border-radius: 9999px;
  }
}

.MemberMenu>ul>li.Active>a {
  color: #9a62e6;
  font-weight: bold;
}

@media (max-width: 768px) {
  .MemberMenu>ul>li.Active>a {
    color: #9a62e6;
    background-color: #9a62e6;
  }
}

.MemberContent {
  flex: 1;
  padding-left: 1rem;
}

@media (max-width: 768px) {
  .MemberContent {
    padding-left: 0;
  }
}

.MemberList {
  margin-bottom: 1rem;
}

.MemberList>li {
  padding: 1rem 0;
  border-bottom: 1px solid #e9ecef;
  transition: 0.3s;
}

.MemberList>li:hover {
  background-color: #e9ecef;
}

.MemberList>li>a {
  display: block;
  color: black;
  font-size: 0.875rem;
  margin-bottom: 0.25rem;
}

.MemberList>li .MemberListMeta {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: #868e96;
}

.MemberList>li .MemberListMeta>div {
  margin-right: 0.5rem;
}

.MemberList>li .MessageTag>a>img {
  display: none;
}

.MemberList>li .MessageTag>a {
  font-weight: bold;
}

.MemberInfoList>li {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #e9ecef;
}

.MemberInfoList>li>label {
  display: block;
  color: #868e96;
  font-size: 0.75rem;
  margin-bottom: 1rem;
}

.MemberInfoList>li>label .Required {
  color: #ff5a57;
  font-size: 0.75rem;
  margin-left: 0.25rem;
}

.MemberInfoList>li>div {
  font-size: 0.875rem;
  padding-bottom: 1rem;
}

.MemberInfoList>li>label[for=profile_image]+div img {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  overflow: hidden;
}

/* html {
  color: black;
  background-color: white;
  font-size: 16px;
  overflow-x: hidden;
  overflow-y: overlay;
} */

/* html::-webkit-scrollbar {
  width: 12px;
  transition: 250ms;
}

html::-webkit-scrollbar-track {
  background: transparent;
  transition: 250ms;
}

html::-webkit-scrollbar-thumb {
  background: #adb5bdb6;
  border-radius: 20px;
  border: 3px solid transparent;
  transition: 250ms;
} */

/* html, body, table, input, textarea, select, button {
  font-family: "Noto Sans Korean", "Noto Sans Korea", "NotoSansKR", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: inherit;
} */

body {
  padding-bottom: 10%;
  height: 100vh;
  background-color: #f5f6f7;
}

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
  display: initial;
}

button {
  outline: none !important;
}

body {
  margin: 0;
  color: inherit !important;
}

.x {
  color: inherit !important;
}

html>.rhymix_content.editable {
  background-color: white !important;
}

ion-icon {
  vertical-align: middle;
}

.btn {
  height: 26px !important;
}

.Clearfix::before,
.Clearfix::after {
  content: "";
  display: table;
}

.Clearfix::after {
  clear: both;
}

@media (max-width: 1024px) {
  #board-list {
    padding-top: 1rem;
  }
}

.Avatar {
  flex: 0 0 auto;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  overflow: hidden;
  background-color: #868e96;
}

.Avatar>ion-icon {
  position: relative;
  bottom: -9px;
  color: #f8f9fa;
  font-size: 2.25rem;
}

.Avatar>img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.Link {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  color: #868e96;
  font-size: 0.875rem;
  transition: color 250ms;
}

.Link>i,
.Link>ion-icon,
.Link>svg {
  width: 1rem;
  height: 1rem;
  font-size: 1rem;
  margin-right: 0.25rem;
}

.Link:hover {
  color: black;
}

.Link-black {
  color: black;
}

.Link-primary {
  color: #9a62e6;
}

.Link-base {
  font-size: 1rem;
}

.xefu-container {
  color: black;
  background-color: white;
}

#pageSizeLayer {
  left: 50% !important;
  width: 90% !important;
  transform: translateX(-50%);
}

::selection {
  color: white;
  background-color: #9a62e6;
}

#rhymix_popup_menu,
#popup_menu_area {
  outline: none !important;
}

.TwMb2 {
  margin-bottom: 0.5rem !important;
}

.TwMr3 {
  margin-right: 0.75rem !important;
}

.TwFlex1 {
  flex: 1 1 0% !important;
}

.TwFlex {
  display: flex !important;
}

.TwFlexWrap {
  flex-wrap: wrap !important;
}

.TwTextDanger {
  color: #ff5a57 !important;
}

.TwMb1 {
  margin-bottom: 0.25rem !important;
}

.TwFontBold {
  font-weight: 700 !important;
}

a {
  color: inherit;
  text-decoration: inherit;
  background-color: transparent;
}

ol,
ul {
  list-style: none;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

fieldset,
ol,
ul {
  margin: 0;
  padding: 0;
}


