
.root {
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.table {
    border-collapse: collapse;
}

.table-striped {
    background-color: #e9eaea;
}


.th {
    width:20%;
    padding:10px;

}

.td {
    width: 80%;
    word-break: break-all;
    padding:10px;

}

.topButtonGroup {
    margin-bottom: 5px;
    display: flex;
    gap: 5px;
    justify-content: end;
}

.bottomButtonGroup {
    margin-top: 5px;
    display: flex;
    justify-content: center;
}